@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #5a1f1f;
    min-width: 100vw;
    min-height: 100vh;
}

main {
    padding-top: 80px;
    height: calc(100vh);
}
